* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Chivo Mono", monospace;
}

.download-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  max-width: 1400px;
}
.download-container a .download-btn {
  padding: 8px 20px;
  border-radius: 10px;
  border: 1px solid #2a2e4a;
  background-color: white;
  color: #2a2e4a;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.download-container a .download-btn:hover {
  color: #2a2e4a;
  background-color: #ffcf77;
}

.main-container {
  -webkit-box-shadow: 1px 1px 5px lightgray;
          box-shadow: 1px 1px 5px lightgray;
  margin-top: 200px;
  margin-bottom: 45px;
}

.sx-section {
  background-color: #2a2e4a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sx-section img {
  width: 200px;
  height: 200px;
  margin: 30px;
  background-color: #ffcf77;
  border-radius: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
.sx-section .info-cv-sx {
  background-color: white;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  display: none;
}
.sx-section .info-cv-sx .geralita p {
  color: black;
}
.sx-section .info-cv-sx .contatti p {
  color: black;
}
.sx-section .info-cv-sx .contatti svg {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}
.sx-section h2 {
  background-color: #ffcf77;
  color: black;
  padding: 10px 40px;
  font-size: 1em;
  margin: 15px;
}
.sx-section p {
  color: white;
  padding: 0 10px 0 10px;
}
.sx-section p span {
  text-decoration: underline;
  font-size: 1em;
}

.dx-section {
  background-color: white;
}
.dx-section .info-cv {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.dx-section .contatti svg {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}
.dx-section h2 {
  text-align: center;
  background-color: #ffcf77;
  color: black;
  padding: 10px 40px;
  font-size: 1em;
  margin: 15px auto;
}
.dx-section h3 {
  margin-left: 10px;
  font-size: 20px;
}
.dx-section p {
  font-size: 0.85em;
  color: black;
  padding: 0 10px 0 10px;
}
.dx-section p span {
  text-decoration: underline;
  font-size: 1em;
}

footer {
  width: 100%;
}
footer .social {
  width: 100%;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  .main-container {
    margin-top: 80px;
  }
  .sx-section .info-cv-sx {
    display: block;
  }
  .dx-section .info-cv {
    display: none;
  }
}
/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 767px) {
  .sx-section .info-cv-sx {
    display: block;
  }
  .dx-section .info-cv {
    display: none;
  }
}
.hero {
  position: relative;
  top: 86px;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
}
.hero .hero-container {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -80px;
}
.hero .hero-container .about-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: black;
  font-family: "Chivo Mono", monospace;
}
.hero .hero-container .about-me p {
  font-size: 35px;
  font-weight: 500;
}
.hero .hero-container .about-me p span {
  font-size: 18px;
  color: #ffcf77;
  background-color: white;
  padding: 5px;
}
.hero .hero-container .img-container img {
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  height: 400px;
  width: 400px;
  border-radius: 100%;
  border: 1px solid #ffcf77;
  background-color: #ffcf77;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  .hero .hero-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero .hero-container .about-me {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero .hero-container .about-me p {
    font-size: 1.3em;
  }
  .hero .hero-container .about-me p span {
    font-size: 0.75em;
  }
  .hero .hero-container .img-container {
    padding-top: 0;
  }
  .hero .hero-container .img-container img {
    max-width: 250px;
    max-height: 250px;
  }
}
/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .hero-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .img-container {
    margin-top: 40px;
  }
}
/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .about-me p {
    font-size: 36px;
    font-weight: 500;
  }
  .about-me p span {
    font-size: small;
  }
}
.about {
  background-color: #2a2e4a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 340px;
  width: 100%;
}
.about .about-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  max-width: 1000px;
  margin: 0 auto;
  color: white;
  padding: 60px;
  text-align: justify;
}
.about .about-content a {
  scroll-margin-top: 120px;
}
.about .about-content span {
  margin-top: -5px;
  margin-bottom: 15px;
  height: 3px;
  width: 50px;
  display: block;
  background-color: #ffcf77;
}
.about .about-content p {
  font-size: 1.2em;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  .about .about-content p {
    text-align: start;
    font-size: 0.85rem;
  }
}
/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .about .about-content p {
    text-align: start;
    font-size: 0.95rem;
    text-align: justify;
  }
}
/* Desktop Styles */
.skills {
  background-color: white;
  -webkit-box-shadow: 1px 1px 4px #2a2e4a;
          box-shadow: 1px 1px 4px #2a2e4a;
  border-radius: 20px;
  margin-top: -330px;
  padding-bottom: 15px;
  z-index: 10;
  max-width: 1200px;
  width: calc(100% - 40px);
}
.skills .skills-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 20px;
  height: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
.skills .skills-container a {
  scroll-margin-top: 120px;
}
.skills span {
  margin-top: -5px;
  height: 3px;
  width: 50px;
  display: block;
  background-color: #ffcf77;
}
.skills .skills-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1500px;
  font-size: 12px;
  padding: 0 40px 40px 40px;
}
.skills .skills-content .languages-learned {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.skills .skills-content .languages-learning {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.skills .skills-content svg {
  width: 60px;
}

.skills-title {
  display: block;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 40px;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
}

.language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.language p {
  padding: 7px;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  .skills .skills-container {
    margin-left: 20px;
  }
  .skills .skills-content svg {
    width: 40px;
  }
}
/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .skills .skills-container {
    margin-left: 22px;
  }
}
/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .skills .skills-container {
    padding: 30px 60px;
  }
}
.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-bottom: 100px;
}
.portfolio .portfolio-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  max-width: 1000px;
  width: 100%;
}
.portfolio .portfolio-container a {
  scroll-margin-top: 50px;
}
.portfolio .portfolio-container h2 {
  width: 100%;
  max-width: 1000px;
  padding-top: 75px;
  padding-left: 60px;
}
.portfolio .portfolio-container span {
  margin-left: 60px;
  margin-top: -5px;
  margin-bottom: 50px;
  height: 3px;
  width: 50px;
  display: block;
  background-color: #ffcf77;
}
.portfolio .portfolio-container p {
  margin-left: 60px;
  margin-right: 60px;
  text-align: justify;
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 50px;
  width: 100%;
  max-width: 1200px;
  margin-top: 70px;
  gap: 50px;
}
.projects div:nth-child(1) {
  background-color: #eddcda;
}
.projects div:nth-child(2) {
  background-color: #7a64f5;
}
.projects div:nth-child(3) {
  background-color: #e5989b;
}
.projects div:nth-child(4) {
  background-color: #98cae5;
}
.projects .project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  text-transform: uppercase;
  font-size: 20px;
  height: 300px;
  -webkit-box-shadow: 1px 1px 5px #2a2e4a;
          box-shadow: 1px 1px 5px #2a2e4a;
  background-color: lightgray;
  -webkit-transition: background-color 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out;
}
.projects .project:hover {
  background-color: gray;
}
.projects .project:hover > .button-link {
  opacity: 1;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}
.projects .project > .button-link {
  opacity: 0;
  color: white;
  text-decoration: none;
  border: 2px solid #ffcf77;
  padding: 10px 25px;
  border-radius: 30px;
  -webkit-transition: background-color 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, background-color 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, background-color 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}
.projects .project > .button-link:hover {
  background-color: #ffcf77;
}
.projects .project p {
  margin-top: 50px;
}

/* Mobile Styles */
@media only screen and (max-width: 425px) {
  .portfolio .portfolio-container p {
    font-size: 0.85em;
  }
  .projects {
    padding: 0;
    grid-template-columns: 1fr;
  }
  .projects .project {
    margin-left: 20px;
    margin-right: 20px;
    height: 200px;
  }
}
/* Tablet Styles */
@media only screen and (min-width: 426px) and (max-width: 960px) {
  .projects {
    grid-template-columns: 1fr;
    padding: 10px;
  }
  .projects .project {
    margin-left: 40px;
    margin-right: 40px;
    height: 300px;
  }
}
/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .projects {
    grid-template-columns: 1fr 1fr;
  }
  .projects .project {
    margin: 0 10px 0 10px;
    height: 250px;
  }
}
footer {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .contatti {
  background-color: white;
  -webkit-box-shadow: 1px 1px 5px lightgray;
          box-shadow: 1px 1px 5px lightgray;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  max-width: 1000px;
  width: calc(100% - 40px);
  padding: 60px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 100px;
}
footer .contatti a {
  scroll-margin-top: 170px;
}
footer .contatti p {
  margin-top: 20px;
}
footer .contatti span {
  margin-top: -5px;
  margin-bottom: 15px;
  height: 3px;
  width: 50px;
  display: block;
  background-color: #ffcf77;
}
footer .contatti form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
footer .contatti form label {
  margin-top: 30px;
  font-weight: 600;
}
footer .contatti form input, footer .contatti form textarea {
  margin-top: 10px;
  padding: 15px;
  border-radius: 10px;
}
footer .contatti form button {
  background-color: #ffcf77;
  padding: 20px 40px;
  width: 200px;
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 5px gray;
          box-shadow: 1px 1px 5px gray;
  border: none;
  margin-top: 30px;
  margin-left: auto;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
footer .contatti form button:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}
footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 170px;
  background-color: #2a2e4a;
}
footer .social div {
  margin-top: 20px;
  max-width: 1000px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
footer .social a {
  text-decoration: none;
  margin: 20px 8px 8px 8px;
  border-radius: 100%;
  -webkit-transition: background-color 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out;
}
footer .social a:hover {
  background-color: #ffcf77;
}
footer .social a .logo-social {
  width: 40px;
  height: 40px;
  padding: 5px;
}
footer .social h3 {
  color: white;
  margin-top: 20px;
  font-size: 16px;
}
footer .social p {
  color: lightgray;
  font-size: 12px;
  margin-top: 27px;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  footer .contatti {
    padding: 30px;
  }
  footer .contatti form button {
    width: 130px;
    height: 60px;
  }
}
/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  footer .contatti {
    padding: 30px;
  }
}
/* Desktop Styles */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: #2a2e4a;
  z-index: 999;
}
header .header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
}
header .header-content a {
  padding-left: 15px;
}
header .header-content a img {
  width: 70px;
}
header .header-content .header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 16px;
  padding-right: 15px;
}
header .header-content .header-menu li {
  display: inline-block;
  padding: 15px;
}
header .header-content .header-menu li a {
  text-decoration: none;
  list-style-type: none;
  color: white;
  padding: 0;
  text-transform: uppercase;
  font-family: "Chivo Mono", monospace;
}
header .header-content .header-menu li a .icons {
  margin-bottom: 4px;
  margin-right: 3px;
  width: 13px;
}
header .header-content .header-menu li a .icons:hover {
  color: rgb(255, 207, 119);
}
header .header-content .header-menu li a:hover {
  border-bottom: 1px inset #ffcf77;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.icon-hamburger {
  display: none;
}

/* Tablet Styles */
@media only screen and (max-width: 960px) {
  .logo {
    margin-top: 7px;
  }
  .header-menu {
    position: absolute;
    top: 75px;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #2a2e4a;
    height: 0vh;
    overflow: hidden;
  }
  .header-menu li {
    margin-top: 10px;
  }
  .header-menu li a {
    font-size: 20px;
  }
  .icon-hamburger {
    cursor: pointer;
    margin-top: 20px;
    margin-right: 10px;
    display: block;
  }
  .icon-hamburger span {
    height: 2px;
    width: 30px;
    display: block;
    background-color: white;
    margin-top: 10px;
    margin-right: 20px;
    -webkit-transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  .header-menu-open .icon-hamburger span:nth-child(1) {
    -webkit-transform: rotate(45deg) translateY(17px);
            transform: rotate(45deg) translateY(17px);
    margin-left: 22px;
  }
  .header-menu-open .icon-hamburger span:nth-child(3) {
    -webkit-transform: rotate(-45deg) translateY(-17px);
            transform: rotate(-45deg) translateY(-17px);
    margin-left: 22px;
  }
  .header-menu-open .icon-hamburger span:nth-child(2) {
    opacity: 0;
  }
  .header-menu-open .header-menu {
    height: 100vh;
    -webkit-transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Chivo Mono", monospace;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}