

footer {  
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;   

    .contatti {   
        background-color: white;
        box-shadow: 1px 1px 5px lightgray;
        border-radius: 10px;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        max-width: 1000px;
        width: 100%;
        padding: 60px;
        margin-left: 15px;
        margin-right: 15px;

        a {
            scroll-margin-top: 210px;
        }

        p {
            margin-top: 20px;
        }

        span {
            margin-top: -5px;
            margin-bottom: 15px;
            height: 3px;
            width: 50px;
            display: block;
            background-color: #ffcf77;
        }

        form {
            display: flex;
            flex-direction: column;

            label {
                margin-top: 30px;
                font-weight: 600;
            }

            input {
                margin-top: 10px;
                padding: 15px;
                border-radius: 10px;
            }
            
            textarea {
                margin-top: 10px;
                padding: 15px;
                border-radius: 10px;
            }
            button {
                background-color: #ffcf77;
                padding: 20px 40px;
                width: 200px;
                border-radius: 10px;
                box-shadow: 1px 1px 5px gray;
                border:none;
                margin-top: 30px;
                margin-left: auto;
                transition: transform 0.3s ease;
              
                &:hover { 
                  transform: translateY(-5px);
                }
              }
            }
        }


            .social {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                height: 170px;
                background-color: #2a2e4a;

                div {
                    margin-top: 20px;
                    max-width: 1000px;
                    margin: 0 auto;
                    display: flex;
                    justify-content: center;
                }

                a {
                    text-decoration: none;
                    margin: 20px 8px 8px 8px;
                    border-radius: 100%;
                    transition: background-color 0.4s ease-in-out;
                    

                    &:hover {
                        background-color: #ffcf77;
                    }
                    
                    .logo-social {
                        width: 40px;
                        height: 40px;
                        padding: 5px;
                    }
                    
                }

                h3 {
                    color: white;
                    margin-top: 20px;
                    font-size: 16px;
                }
                p {
                    color: lightgray;
                    font-size: 12px;
                    margin-top: 27px;
                }
            }
    }





/* Mobile Styles */

@media only screen and (max-width: 400px) {
    footer {   
        .contatti {
            padding: 30px;
        }
    }
    
}

   
  
  /* Tablet Styles */
  @media only screen and (min-width: 401px) and (max-width: 960px) {
    footer {   
        .contatti {
            padding: 30px;
        }
    }
  }
  

  /* Desktop Styles */
  @media only screen and (min-width: 961px) {
    
}