@import 'cv';
    @import 'hero-section';
    @import 'about-section';
    @import 'skills-section';
    @import 'portfolio-section';

@import 'footer';
@import 'header';




$primary-color:#ffcf77;
$secondary-color:#2a2e4a;

$stack-font: 'Roboto', sans-serif;
$stack-font-2: 'Chivo Mono', monospace;



* { 
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
}


body {
    font-family: 'Chivo Mono', monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
}

 






